*{
	font-family: 'abel';
	font-weight: 500;
	color: #555;
}

body{
	padding: 0;
	margin: 0 auto;
}

header{
	width: 100%;
	background: #222;	
}



.site-nav{
	position: fixed;
	width: 100%;
	z-index: 1000;
	margin: 0;
	height: 40px;
	background: #333;
	overflow: hidden;
}
.site-nav ul{
	margin: 0 auto;
	list-style: none;
	padding: 0;
	margin-left: 15%;
	margin-top: 8px;
}

.site-nav ul li{
	list-style: none;
	float: left;
	margin-right: 10px;
	border-right: 2px solid #555;
	padding-right: 10px;
}

.site-nav ul li a{
	font-family: 'lato';
	font-weight: 100;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	color: #eee;
}

nav .box {
	float: right;
	margin-right: 120px;
}

nav .box .container-1{

}

nav .box .container-1 i{
	color: #eee;
}

#search{
	width: 150px;
}

#container{
 	margin-top: 40px;
}

#pagecontainer{
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
}

footer{
	background: #222;
	padding: 1em;
	text-align: center;
	height: 90px;
	width: 100%;
	position: absolute;
}

/*footer ul{
	list-style: none;
	display: inline-block;
	width: 910px;
	padding: 0;
	margin: auto;
}

footer li{
	float: left;
	text-align: left;
	width: 180px;
	padding-right: 20px;
	margin-right: 40px;
	border-right: solid 1px #555;
	font-size: 12px;
}

footer li:nth-child(4){
	border-right: none;
	padding: 0;
	margin: 0;
}*/

.footer-nav ul{
	list-style-type: none;
	text-align: left;
}

.footer-nav ul li a{
	text-decoration: none;
}












/*single-product.php*/

h1.product_title{
	float: right;
}








