*{
	font-family: 'abel';
	font-weight: 500;
	color: #555;
}

body{
	padding: 0;
	margin: 0 auto;
}

header{
	width: 100%;
	background: #222;	
}



.site-nav{
	position: fixed;
	width: 100%;
	z-index: 1000;
	margin: 0;
	height: 40px;
	background: #333;
	overflow: hidden;
}
.site-nav ul{
	margin: 0 auto;
	list-style: none;
	padding: 0;
	margin-left: 15%;
	margin-top: 8px;
}

.site-nav ul li{
	list-style: none;
	float: left;
	margin-right: 10px;
	border-right: 2px solid #555;
	padding-right: 10px;
}

.site-nav ul li a{
	font-family: 'lato';
	font-weight: 100;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	color: #eee;
}

nav .box {
	float: right;
	margin-right: 120px;
}

nav .box .container-1{

}

nav .box .container-1 i{
	color: #eee;
}

#search{
	width: 150px;
}

#container{
 	margin-top: 40px;
}

#pagecontainer{
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
}

#content{
	overflow: hidden;
}

footer{
	background: #222;
	text-align: center;
	height: 100px;
	width: 100%;
	clear: both;
	margin-top: 20px;
}

/*footer ul{
	list-style: none;
	display: inline-block;
	width: 910px;
	padding: 0;
	margin: auto;
}

footer li{
	float: left;
	text-align: left;
	width: 180px;
	padding-right: 20px;
	margin-right: 40px;
	border-right: solid 1px #555;
	font-size: 12px;
}

footer li:nth-child(4){
	border-right: none;
	padding: 0;
	margin: 0;
}*/

.footer-nav ul{
	list-style-type: none;
	text-align: left;
}

.footer-nav ul li a{
	text-decoration: none;
}





/*

css för produktvy

*/

#content{
	overflow: hidden;
}


#content .woocommerce-breadcrumb{
	display: inline;
}

#content h1.page-title{
	display: inline;
	margin-left: 140px;
	margin-right: 33%;
}

#content .woocommerce-result-count{
	display: inline;
	margin-right: 2%;
}

#content .woocommerce-ordering{
	display: inline;
}

#content ul.products{
	bo rder: 1px dashed red;
	width: 80%;
	list-style: none;
	padding:0;
	float: right;
	overflow: hidden;
}

#content ul.products li.type-product{
	border: 1px solid #eee;
	width: 25%;
	overflow: hidden;
	margin: 0;
	margin-right: 20px; 
	margin-bottom: 20px;
	float: left;
	padding: 20px;
}

#content ul li.type-product:nth-child(3n){
	margin-right: 0px;
}


/*
	css för sidebarfiter
*/

aside.sidebar-filter {
	width: 15%;
	margin-bottom: 20px;
	overflow: hidden;
	background: #fff;
	margin-top: 20px;
	float: left;
	padding-left: 0;
}

.filterbtn {
	margin: 0;
	margin-bottom: 6px;
	padding-bottom: 4px;
	text-transform: uppercase;
	font-size: 18px;
	border-bottom: 1px solid #eee;
}

.filterbtn:hover {
	cursor: pointer;
}

ul#filter-container {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul#filter-container li.filter-choice{
	margin: 0;
	padding: 0;
	padding: 2px;
	margin-bottom: 10px;
	display: none;
}

ul#filter-container li.filter-choice div.choice-container:hover{
	background: #eee;
	cursor: pointer;
}

ul#filter-container li.filter-choice div h3{
	margin:0px;
	padding: 4px;
	font-size: 16px;
}

ul#filter-container li.filter-choice div h3:hover{
	background: #eee;
}




/*single-product.php*/

div .images{
	width: 50%;
	float: left;
}

div .summary{
	float: left;
	width: 50%;
	height: 250px;
}




/*Add to cart button*/

button.single_add_to_cart_button{
	margin-bottom: 30px;
	margin-top: 20px;
}




/*Content UL*/

#content ul.tabs{
	list-style-type: none;
	float: left;
	width: 370px;
	border-bottom: 1px solid gray;
	padding: 0;
}

#content ul.tabs li{
	white-space: nowrap;
	display: inline;
	margin-right: 25px;
}

#content ul.tabs li a{
	text-decoration: none;
	width: 100%;
}

#content ul.tabs li.description_tab{
	width: 80px;
}

#content ul.tabs li.reviews_tab{
	width: 80px;
}

#content ul.tabs li.additional_information_tab{
	width: 150px;
}



/*Description*/

#tab-description{
	width: 50%;
	float: right;
}

#tab-description h2{
	display: inline-block;
	margin-top: 10px;
}

#tab-description p{
	margin: 0;
}

#tab-additional_information{
	width: 50%;
	float: right;
}

#tab-additional_information h2{
	display: inline-block;
	margin-top: 10px;
}

#tab-reviews{
	width: 50%;
	float: right;
}

#tab-reviews h2{
	display: inline-block;
	margin-top: 10px;
}

p .comment-form-comment{
	
}

















